extends layout

block content
  h1 Login
  form(action="/login" method="post")
    div
      label(for="username") Username
      input#username(type="text" name="username" required)
    div
      label(for="password") Password
      input#password(type="password" name="password" required)
    div
      button(type="submit") Login
