<!DOCTYPE html>
<html>
<head>
    <title>Debug Interface</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
            text-align: left;
        }
        table {
            width: 100%;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h2><a style="text-decoration: underline;" href="/">Overview</a></h2>
    {% for table, rows in data.items() %}
        <h2>{{ table }}</h2>
            <table>
                {% if rows %}
                    <thead>
                        <tr>
                            {% for key in rows[0].keys() %}
                                <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                {% endif %}
                <tbody>
                    {% for row in rows %}
                        <tr>
                        {% for key, value in row.items() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% endfor %}
</body>
</html>
